# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Server sided configurations.
##########################################################################################################

general {
    # An array holding every item id that should be blacklisted for player usage.
    S:blacklist <
     >

    # An array holding each item id that should be allowed by the player to be used.
    # Overwrites blacklist.
    S:whitelist <
     >
}


instance {
}


